.App {
    text-align: center;
}

td {
    cursor: pointer;
    width: 40px;
    height: 40px;
    padding: 0 !important;
    vertical-align: middle !important;
    margin: auto;
}

td.ground {
    background-color: brown;
    color: white;
}

td.sea {
    background-color: lightcyan;
}

td.sea-shortest {
    background-color: darkcyan;
    color: white;
}